!!! 5
html(lang='en', xmlns='http://www.w3.org/1999/xhtml')
  include ../includes/head
  body.bodyClass
    .navbar.navbar-inverse.navbar-static-top(data-ng-include="'views/header.html'", data-role="navigation")
    section.container-fluid
        section.row-fluid
        block content
    include ../includes/foot
